{% extends "partials/base.html" %}

{%load static%}

{% block content %}
<body>
    <section id="header">
        <a onclick="document.location='{% url 'core:index' %}';"><img src="{% static 'assets/img/logo2.png' %}" class="logo"></a>
        <div>
            <ul id="navbar">
                <li><a href="{% url 'core:index' %}">Home</a></li>
                <li><a href="{% url 'userauths:shop' %}">Shop</a></li>
                <li><a href="{% url 'userauths:blog' %}">Blog</a></li>
                <li><a class="active" href="{% url 'userauths:about' %}">About</a></li>
                <li><a href="{% url 'userauths:contact' %}">Contact</a></li>
                <div class="box">
                    <div class="cart-count">0</div>
                    <li><abbr title="Cart"><a><i class="fa-solid fa-cart-shopping" onclick="redirectIfNotLoggedIn()" id="cart-icon"></i></a></abbr></li>
                </div>
                <div class="cart-new ">
                    <div class="cart-title">Cart Items</div>
                    <div class="cart-content">
                        <!-- <div class="cart-box">
                            <img src="img/products/p1.png" class="cart-img">
                            <div class="detail-box">
                                <div class="cart-food-title">Pedigree</div>
                                <div class="price-box">
                                    <div class="cart-price">₹100</div>
                                    <div class="cart-amt">₹100</div>
                                </div>
                                <input type="number"  value="1" class="cart-quantity">
                            </div>
                            <i class="fa-solid fa-trash cart-remove" id="cart-remove"></i>
                        </div>
                        <div class="cart-box">
                            <img src="img/products/p2.png" class="cart-img">
                            <div class="detail-box">
                                <div class="cart-food-title">Pedigree</div>
                                <div class="price-box">
                                    <div class="cart-price">₹100</div>
                                    <div class="cart-amt">₹100</div>
                                </div>
                                <input type="number"  value="1" class="cart-quantity">
                            </div>
                            <i class="fa-solid fa-trash cart-remove" id="cart-remove"></i>
                        </div> -->
                    </div>
                    <div class="total">
                        <div class="total-title">Total</div>
                        <div class="total-price">0</div>
                    </div>
                    <section id="paypal-integration">
                        <div id="paypal-button"></div>
                        <i class="fa-solid fa-xmark" id="cart-close"></i>
                        <script>
                            function redirectIfNotLoggedIn() {
                                // Check if the user is authenticated using JavaScript
                                var isAuthenticated = {% if request.user.is_authenticated %} true {% else %} false {% endif %};
                        
                                if (!isAuthenticated) {
                                    // Redirect to login page if the user is not logged in
                                    window.location.href = "{% url 'userauths:sign-in' %}";
                                } 
                            }
                        </script>
                    </section>
                </div>
                {% if request.user.is_authenticated %}
                <li><abbr title="Logout"><a href="{% url 'userauths:sign-out'%}"><i class="fa-solid fa-user"></i></i></a></abbr></li>    
                {% else %}
                <li><abbr title="Login"><a href="{% url 'userauths:sign-in'%}"><i class="fa-solid fa-right-to-bracket"></i></a></abbr></li>
                {% endif %}    
            </ul>
        </div>
    </section>
    <section id="page-header" class="about-header"> 
        <h2>#KnowUs</h2>
        <p>Happy Customers</p>
    </section>
    <section id="about-head" class="section-p1">
        <img src="{% static "assets/img/about/a1.png" %}" alt="">
        <div>
            <h2>Who We Are?</h2>
            <p>We are passionate pet lovers dedicated to providing a personalized and caring experience for both pets and their owners. 
                Our team consists of experienced professionals with a deep understanding of various pet breeds, behaviors, and needs. At our pet shop, 
                we prioritize animal welfare, ensuring that each pet receives the love, attention, and care it deserves. We strive to create a welcoming 
                environment where pet enthusiasts can find everything they need to nurture a happy and healthy relationship with their furry companions. 
                With a commitment to excellence, we continually educate ourselves on the latest pet care trends, products, and technologies. As advocates for 
                responsible pet ownership, we offer guidance and support to help our customers make informed decisions for their pets' well-being. Above all, 
                we are dedicated to fostering joy, companionship, and unforgettable moments between pets and their human families.</p>

                <abbr title="">Create stunning images with as much or as little control as you like thanks to a choice of Basic and Creative modes.</abbr>

                <br><br>
                <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Create stunning images with as much or as little control as you like thanks to a choice of 
                    Basic and Creative modes</marquee>
        </div>
    </section>
    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="{% static "assets/img/features/f1.png" %}"/>
            <h6>Free Shipping</h6>
        </div>
        <div class="fe-box">
            <img src="{% static "assets/img/features/f2.png" %}"/>
            <h6>Online Order</h6>
        </div>
        <div class="fe-box">
            <img src="{% static "assets/img/features/f3.png" %}"/>
            <h6>Save Money</h6>
        </div>
        <div class="fe-box">
            <img src="{% static "assets/img/features/f4.png" %}"/>
            <h6>Promotion</h6>
        </div>
        <div class="fe-box">
            <img src="{% static "assets/img/features/f5.png" %}"/>
            <h6>Happy Sell</h6>
        </div>
        <div class="fe-box">
            <img src="{% static "assets/img/features/f6.png" %}"/>
            <a href ="{% url 'userauths:maps' %}"><h6>24/7 Support</h6></a>
        </div>
    </section>
    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>
    {% endblock content %}